*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    
    /* font */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}
header{
    padding: 10px  50px 0 ;
    cursor: pointer;

}

header{
    background-image: url(MediaContent/91657.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        color: white;
        height: 100vh;
        overflow: hidden;

}


#logo-name{
    font-size: 19px;
}
.wrapper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    display: flex;
    align-items: center;
    gap: 8px;
}
span>video{
    width: 70px;
    height: auto;
    border-radius: 50px;
}

nav>li,ul,a{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 16px;
    
}

li:hover{
    transform: scale(1.2);
    font-weight: bold;
}

/* hero-page */
.hero-container{
    text-align: center;
      text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.content{
    margin: 10px 50px;
}
#my-name{
    font-size: 62px;
}
#small-intro{
    font-size: 22px;
    line-height: 2.5rem;
    color: gray;
    text-align: justify;
}



/* load animation */
span>video,.wrapper-nav{
    animation: zoom 1s ease;
}
@keyframes zoom {

    from{
        scale: 0.2;
    }

    100%{
        scale: 1;
    }
}

.btn-icon>a>img{
    width: 50px;
    height: auto;
}

.connect-social,
.social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

}
.btn-icon:hover{
    scale: 1.3;
}

.burger-icon>.line{
display: none;
}










/* mobile */
@media screen and (max-width : 600px) {

header{
    overflow: hidden;
    padding: 0px  0px  ;
    margin: 0;
}

#small-intro{
    font-size: 16px;
margin: 0;
    line-height: 1.8rem;
    color: rgb(199, 189, 189);
    text-align: justify;
}
nav{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 999;
}
nav>ul{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: red;
    height: 100vh;
    right: 0;
    width: 250px;
    top: -14px;
}
}
ul>li{
    margin-top: 80px;
}
.burger-icon>.line{
    display: block;
    width:38px;
height: 6px;
border-radius: 6px;
margin: 6px;
background-color: #fff;
padding: 2px;
z-index: 9999;

}
.wrapper-nav{
    margin: 10px;
    background-color: red;
    border-radius: 50px;
    
}


.social-btn{
    margin: 14px auto;
}


