* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* background-color: black; */
    /* color: wheat !important; */

}

header {
    padding: 10px 50px 0;
    cursor: pointer;
    height: fit-content;
    overflow: hidden;

}



#logo-name {
    font-size: 19px;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    align-items: center;
    gap: 8px;
}

span>video {
    width: 70px;
    height: auto;
    border-radius: 50px;
}

nav>li,
ul,
a {
    color: black;
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

li:hover {
    transform: scale(1.2);
    font-weight: bold;
}

/* hero-page */

.hero-container{

}

.content{
    width: 100%;
    /* text-align: justify; */
    max-width: fit-content;
}

#my-name {
    font-size: 42px;
    /* margin-top: 50px; */
}

#small-intro {
    font-size: 50px;
    /* line-height: auto; */
    color: grey;
    /* text-align: start; */
    /* max-width: auto; */
    text-transform: capitalize;
    font-weight: bold;

}
.btn-icon>button{
    padding: 20px;

}

/* load animation */
#my-name {
    animation: zoom 1s ease;
}

@keyframes zoom {

    from {
        scale: 5;
    }

    100% {
        scale: 1;
    }
}



.burger-icon>.line {
    display: none;
}

.resume-btn2>a,button{
    padding: 8px;
    max-width: 150px;
    font-size: 22px !important;
    height: auto;
}

.resume-btn2>a,svg{
    width: 38px;
    height: auto;
}
.resume-btn2{
    display: flex;justify-content: center;
}
/* .resume-content>a>.resume-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    padding: 6px;
    margin: 28px auto !important;

} */
.resume-btn2>svg,button{
    display: flex;
    align-items: center;
    gap: 8px;

}
.resume-btn2>a{
    margin: 0 auto;
}
.rem-tag>button{
    font-size: 18px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 64);
    border-radius: 50px;
    animation: blink 5s 4s ease-in;
}

.resume-content>button {
    cursor: pointer;

}

.resume-content>a>button:hover {
    background-color: red;
    color: white;
}


.box {

    background-color: red;
    max-width: 700px;
    min-width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    margin: 10px;
    height: 200px;


}

.hero-container{
    margin: 100px 100px;
    max-width: 1200px;
    min-width: 200px;
}

.box>img {
    width: 90px;
    min-width: 50px;
    max-width: 100px;

}

.v {
    margin: 0;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);


}

.skill-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: yellow;
    max-width: 800px;
    height: fit-content;
}

#hero-page{
    margin: 20px;
}
.social-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.btn-icon>a>img{
    width: 42px;
    height: auto;
}

.btn-icon:hover{
    scale: 1.8;
}
.resume-btn2>a,button:hover{
    background-color: navy;
    color: white;
    border: none;
    border-radius: 8px;
}






/* mobile */
@media screen and (max-width : 910px) {
.hero-container{
    margin: 50px 10px !important;
    max-width: 1200px;
    min-width: 200px;
}
}
@media screen and (max-width : 630px) {

    header {
        overflow: hidden;
        padding: 0px 0px;
        margin: 0;
        position: relative;
        cursor: none;
        height: auto;

    }


    nav>ul {
        display: none;
    }

    .burger-icon>.line {
        display: block;
        width: 38px;
        height: 6px;
        border-radius: 6px;
        margin: 6px;
        background-color: #000000;
        padding: 2px;
        z-index: 9999;

    }

    span>video {
        width: 55px;
        height: auto;
    }

    #logo-name {
        font-size: 18px;
    }

    .wrapper-nav {

        background: rgba(255, 255, 255, 0.11);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.9px);
        -webkit-backdrop-filter: blur(12.9px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        z-index: 1000;
        padding: 8px;
    }

    .burger-icon {
        padding: 8px;
        scale: 0.8;
    }


#my-name{
    font-size: 32px;
    margin-bottom: 8px;
}







}
